*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  color: #666;
  background: #f4f5f5;
}

@font-face {
  font-family: "pixel";
  src: url("../font/pixel.ttf") format("truetype");
}

.container {
  font-family: pixel;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.canvas {
  width: 100%;
}
