*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  color: #666;
  background: #f4f5f5;
}

@font-face {
  font-family: "pixel";
  src: url("../font/pixel.ttf") format("truetype");
}

.container {
  display: flex;
  max-width: 30rem;
  margin: 0 auto;
  padding: 3rem 1rem 1rem;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  margin-bottom: 1rem;
}

.header .input {
  flex: 1;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid #000;
  padding: 0 0.5rem;
  outline: none;
  border-radius: 0;
}

.header .btn {
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  background: #000;
}

.main {
  flex: 1;
}

.main .img {
  max-width: 100%;
  background: #000;
}

.main .tip {
  text-align: center;
}

.footer {
  text-align: center;
}

.footer a {
  color: #000;
}
